/* * {
    border: 1px solid red;
} */

body {
    background-image: linear-gradient(90deg, #4b9bf6, #a9defd);
    overflow-x: hidden;
}

h1 {
    color: #ffffff;
    margin: 30px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1c3ed7;
    border-radius: 20px;
    display: inline-block;
    padding: 20px; /*do texto para a borda*/
    box-shadow: 4px 4px 10px rgba(11, 8, 77, 0.4);
}

.titulo {
    text-align: center;
}

.p1 {
    width: 700px;
    text-align: justify;
    font-size: 20px;
    line-height: 25px;
    color: #0a1f44;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    right: 350px;
}

.imgp1 {
    position: absolute;
    left: 850px;
    top: 220px;
    border-radius: 20px;
    transition: transform 0.3s ease;
    box-shadow: 4px 4px 10px rgba(5, 14, 83, 0.4);
}

.p2 {
    width: 900px;
    text-align: justify;
    font-size: 20px;
    margin-bottom: 25px;
    line-height: 25px;
    color: #0a1f44;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    left: 650px;
    padding: 100px;
}

.img2 {
    position: absolute;
    top: 200px;
    margin-left: 1100px;
    margin-top: -900px;
    position: relative;
    top: 350px;
    width: 200px;
    left: -700px;
    border-radius: 20px;
    transition: transform 0.3s ease;
    box-shadow: 4px 4px 10px rgba(20, 28, 144, 0.4);
}

.img3 {
    border-radius: 20px;
    transition: transform 0.3s ease;
    box-shadow: 4px 4px 10px rgba(7, 29, 135, 0.4);
    position: absolute;
    top: 500px;
    left: 100px;
}

.p3 {
    width: 700px;
    text-align: justify;
    font-size: 20px;
    margin-bottom: 25px;
    line-height: 25px;
    color: #0a1f44;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    right: 350px;
    top: 480px ;
}

.imgp3 {
    position: absolute;
    left: 900px;
    top: 850px;
    border-radius: 20px;
    transition: transform 0.3s ease;
    box-shadow: 4px 4px 10px rgba(20, 28, 144, 0.4);
}

.imgp31 {
    position: absolute;
    left: 1050px;
    top: 1050px;
    border-radius: 20px;
    transition: transform 0.3s ease;
    box-shadow: 4px 4px 10px rgba(20, 28, 144, 0.4);
}

img:hover {
    transform: scale(1.15);
}




.p4 {
    width: 900px;
    text-align: justify;
    font-size: 20px;
    margin-bottom: 25px;
    line-height: 25px;
    color: #0a1f44;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    left: 650px;
    padding: 100px;
    top: 1240px;
}

.p5 {
    width: 700px;
    text-align: justify;
    font-size: 20px;
    margin-bottom: 25px;
    line-height: 25px;
    color: #0a1f44;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    right: 350px;
    top: 980px ;
}

.p6 {
    width: 900px;
    text-align: justify;
    font-size: 20px;
    margin-bottom: 25px;
    line-height: 25px;
    color: #0a1f44;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    left: 650px;
    padding: 100px;
    top: 1900px;
}

.bordaimggoldbach {
    background-color: #1c3ed7;
    position: relative;
    left: 650px;
    top: -305px;
    width: 400px;
    height: 270px;
    border: 5px solid #0c0456;
    border-radius: 15px;
}