body {
    background-color: #dbefff;
}

h1 {
    color: #ffffff;
    margin: 30px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1c3ed7;
    border: 2px solid #0a1f44;
    border-radius: 20px;
    display: inline-block;
    text-align: center;
    padding: 20px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
}

.titulo {
    text-align: center;
}

p {
    width: 1450px;
    text-align: justify;
    font-size: 20px;
    margin-bottom: 25px;
    line-height: 25px;
    color: #0a1f44;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.goldbach {
    width: 650px;
    margin-bottom: 100px;
    margin-top: 100px;
    margin-left: 30px;
}

.img1 {
    margin-left: 150px ;
    border-radius: 20px;
    margin-top: 25px;
    transition: transform 0.3s ease;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    border: 2px solid #0c0456;
}

.img2 {
    margin-left: 1100px;
    margin-top: -900px;
    position: relative;
    top: -55px;
    width: 200px;
    height: 170px;
    border-radius: 20px;
    transition: transform 0.3s ease;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    border: 2px solid #0c0456;
}


img:hover {
    transform: scale(1.25);
}

.bordaimg1 {
    background-color: #1c3ed7;
    width: 1500px;
    height: 250px;
    border: 5px solid #0c0456;
    border-radius: 15px;
}

