body {
    background-color: #d8d7d7;
}

h1 {
    color: #ffffff;
    margin: 30px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1c3ed7;
    border-radius: 20px;
    display: inline-block;
    text-align: center;
    padding: 20px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
}

.titulo {
    text-align: center;
}

p {
    width: 1450px;
    text-align: left;
    font-size: 20px;
}

.img1 {
    margin-left: 200px ;
    border-radius: 20px;
    margin-top: 30px;
    transition: transform 0.3s ease;
}

img:hover {
    transform: scale(1.3);
}

.bordaimg1 {
    background-color: #1c3ed7;
    width: 2000px;
    height: 250px;
}

