/* * {
    border: 1px solid red;
} */

body {
    background-image: linear-gradient(90deg, #4b9bf6, #a9defd);
    overflow-x: hidden;
}

h1 {
    color: #ffffff;
    margin: 30px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1c3ed7;
    border-radius: 20px;
    display: inline-block;
    padding: 20px; /*do texto para a borda*/
    box-shadow: 4px 4px 10px rgba(11, 8, 77, 0.4);
}

.titulo {
    text-align: center;
}

.p1 {
    width: 700px;
    text-align: justify;
    font-size: 20px;
    line-height: 25px;
    color: #0a1f44;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    right: 350px;
}

.imgp1 {
    position: absolute;
    left: 850px;
    top: 220px;
    border-radius: 20px;
    border: 10px solid #1c3ed7;
    transition: transform 0.3s ease;
    box-shadow: 4px 4px 10px rgba(5, 14, 83, 0.4);
}

.p2 {
    width: 800px;
    text-align: justify;
    font-size: 20px;
    line-height: 25px;
    color: #0a1f44;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    left: 650px;
    padding: 100px;
}

.img2 {
    position: absolute;
    top: 200px;
    margin-left: 1150px;
    margin-top: -900px;
    position: relative;
    top: 350px;
    width: 200px;
    height: 200px;
    left: -700px;
    border-radius: 20px;
    border: 10px solid #1c3ed7;
    transition: transform 0.3s ease;
    box-shadow: 4px 4px 10px rgba(20, 28, 144, 0.4);
}

.img3 {
    border-radius: 20px;
    border: 10px solid #1c3ed7;
    transition: transform 0.3s ease;
    box-shadow: 4px 4px 10px rgba(7, 29, 135, 0.4);
    position: absolute;
    top: 500px;
    left: 100px;
}

.p3 {
    width: 700px;
    text-align: justify;
    font-size: 20px;
    margin-bottom: 25px;
    line-height: 25px;
    color: #0a1f44;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    right: 350px;
    top: 480px ;
}

.imgp3 {
    position: absolute;
    left: 900px;
    top: 850px;
    border-radius: 20px;
    border: 10px solid #1c3ed7;
    transition: transform 0.3s ease;
    box-shadow: 4px 4px 10px rgba(20, 28, 144, 0.4);
}

.imgp31 {
    position: absolute;
    left: 1050px;
    top: 1050px;
    border-radius: 20px;
    border: 10px solid #1c3ed7;
    transition: transform 0.3s ease;
    box-shadow: 4px 4px 10px rgba(20, 28, 144, 0.4);
}

img:hover {
    transform: scale(1.15);
}

.p4 {
    width: 800px;
    text-align: justify;
    font-size: 20px;
    line-height: 25px;
    color: #0a1f44;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    left: 650px;
    padding: 100px;
    top: 1240px;
}

.imgp41 {
    position: relative;
    top: 500px;
    left: 100px;
    border-radius: 20px;
    border: 10px solid #1c3ed7;
    transition: transform 0.3s ease;
    box-shadow: 4px 4px 10px rgba(20, 28, 144, 0.4);
}

.imgp42 {
    position: relative;
    top: 750px;
    left: 100px;
    border-radius: 20px;
    border: 10px solid #1c3ed7;
    transition: transform 0.3s ease;
    box-shadow: 4px 4px 10px rgba(20, 28, 144, 0.4);
}

.p5 {
    width: 700px;
    text-align: justify;
    font-size: 20px;
    margin-bottom: 25px;
    line-height: 25px;
    color: #0a1f44;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    right: 350px;
    top: 880px ;
}

.imgp51 {
    position: relative;
    top: 650px;
    left: 1000px;
    border-radius: 20px;
    border: 10px solid #1c3ed7;
    transition: transform 0.3s ease;
    box-shadow: 4px 4px 10px rgba(20, 28, 144, 0.4);
}

.p6 {
    width: 850px;
    text-align: justify;
    font-size: 20px;
    line-height: 25px;
    color: #0a1f44;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    left: 650px;
    padding: 100px;
    top: 2000px;
}

.imgp6 {
    height: 300px;
    width: 350px;
    border-radius: 20px;
    border: 10px solid #1c3ed7;
    transition: transform 0.3s ease;
    box-shadow: 4px 4px 10px rgba(20, 28, 144, 0.4);
    position: relative;
    top: 750px;
    left: 200px;
} 

/* parte referente à página da conjectura de goldbach */

#conjectura {
    height: 220px;
    width: 400px;
}

.imgp2 {
    position: relative;
    margin-left: 1200px;
    margin-top: -800px;
    position: relative;
    top: 330px;
    width: 200px;
    left: -850px;
    border-radius: 20px;
    border: 10px solid #1c3ed7;
    transition: transform 0.3s ease;
    box-shadow: 4px 4px 10px rgba(20, 28, 144, 0.4);
}

.imgp21 {
    position: relative;
    margin-left: 1200px;
    margin-top: -800px;
    position: relative;
    top: 180px;
    width: 200px;
    right: 1100px;
    border-radius: 20px;
    border: 10px solid #1c3ed7;
    transition: transform 0.3s ease;
    box-shadow: 4px 4px 10px rgba(20, 28, 144, 0.4);
}

.tabela1 {
    position: relative;
    top: 400px;
    border: 2px solid #376dc9;
    width: 750px;
    font-size: 30px;
    box-shadow: 4px 4px 10px rgba(20, 28, 144, 0.4);
}

table {
    border-collapse: collapse;
}

tr, td, th {
    border: 5px solid #1151bd;
    text-align: center;
}

#terminal {
    height: 250px;
    position: relative;
    top: 250px;
}

.p4g {
    width: 800px;
    text-align: justify;
    font-size: 20px;
    line-height: 25px;
    color: #0a1f44;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    left: 650px;
    padding: 100px;
    top: 1480px;
}

.imgharald {
    height: 200px;
    width: 300px;
    position: relative;
    margin-left: -150px;
    position: relative;
    top: 560px;
    border-radius: 20px;
    border: 10px solid #1c3ed7;
    transition: transform 0.3s ease;
    box-shadow: 4px 4px 10px rgba(20, 28, 144, 0.4);
}

.tabela2 {
    position: relative;
    top: 700px;
    border: 2px solid #1151bd;
    width: 750px;
    font-size: 30px;
    box-shadow: 4px 4px 10px rgba(20, 28, 144, 0.4);
}

.p5g {
    width: 700px;
    text-align: justify;
    font-size: 20px;
    margin-bottom: 25px;
    line-height: 25px;
    color: #0a1f44;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    right: 350px;
    top: 750px;
}

.video_goldbach {
    height: 270px;
    width: 465px;
    box-shadow: 4px 4px 10px rgba(20, 28, 144, 0.4);
    position: relative;
    top: 450px;
    left: 900px;
    border-radius: 20px;
    border: 10px solid #1c3ed7;
    transition: transform 0.3s ease;
}

video:hover {
    transform: scale(1.25);
}
/* parte referente à página da hipótese de riemann */

#p5r {
    position: relative;
    top: 800px;
}

#zeta {
    width: 300px;
    left: 1100px;
    position: relative;
    top: 10px;
}

#primos {
    height: 300px;
    width: 400px;
    position: relative;
    left: -900px;
}

#fisica {
    height: 150px;
    position: relative;
    left: 900px;
    top: 500px;
}

#seguranca {
    width: 200px;
    position: relative;
    top: 650px;
}

#estatistica {
    position: relative;
    top: 820px;
    height: 150px;
    left: 500px;
}

#problema {
    position: relative;
    top: 550px;
    left: 250px;
}

#p6r {
    position: relative;
    top: 900px;
    left: 300px;
}

#exemplo_1 {
    height: 300px;
    position: relative;
    top: 150px;
}

#exemplo_2 {
    height: 300px;
    left: -300px;
}

/* parte referente à página da conjectura dos primos gêmeos */

#p3pg {
    position: relative;
    top: 600px;
} 

#viggo {
    position: relative;
    top: 400px;
}

#project {
    position: relative;
    top: 200px;
    left: 600px;
}

#yitang {
    position: relative;
    top: 250px;
    left: 1150px;
}

#pg {
    height: 350px;
    width: 250px;
    position: relative;
    top: 650px;
    left: -200px;
}

/* parte referente à página dos números primos:  */

#p1p {
    position: relative;
    top: 30px;
}

#p3p {
    position: relative;
    top: 520px;
}

#m1 {
    position: relative;
    top: 550px;
    left: -250px;
}

#m2 {
    position: relative;
    top: 750px;
    left: -250px;
}

#primos1 {
    height: 250px;
    width: 400px;
}

#euclides {
    height: 300px;
    width: 300px;
    position: relative;
    left: -900px;
    top: 400px;
}

#criptografia {
    position: relative;
    top: 870px;
    left: -100px;
}

#fatoracao {
    position: relative;
    top: 470px;
}

#reta {
    height: 250px;
    width: 350px;
    position: relative;
    top: 230px;
    left: 900px;
}

#p6c {
    position: absolute;
    top: 2100px;
}

/* parte referente à página do teste:  */

.teste {
    font-size: 25px;
    color: #0a1f44;
    position: relative;
    left: 150px;
}

.teste_goldbach:hover {
    transform: scale(1.20);
}

.teste_riemann:hover {
    transform: scale(1.20);
}

.teste_gemeos:hover {
    transform: scale(1.20);
}

.teste_desafios:hover {
    transform: scale(1.20);
    
}

.teste_goldbach {
    position: relative;
    top: 50px;
    background-color: #3486e4;
    border: 2px solid #0b126f;
    border-radius: 10px;
    display: inline-block;
    box-shadow: 4px 4px 10px rgba(20, 28, 144, 0.4);
    transition: transform 0.3s ease;
}

.teste_riemann {
    position: relative;
    top: 100px;
    background-color: #3486e4;
    border: 2px solid #0b126f;
    border-radius: 10px;
    display: inline-block;
    box-shadow: 4px 4px 10px rgba(20, 28, 144, 0.4);
    transition: transform 0.3s ease;
}

.teste_gemeos {
    position: relative;
    top: 150px;
    background-color: #3486e4;
    border: 2px solid #0b126f;
    border-radius: 10px;
    display: inline-block;
    box-shadow: 4px 4px 10px rgba(20, 28, 144, 0.4);
    transition: transform 0.3s ease;
}

.teste_desafios {
    position: relative;
    top: 200px;
    background-color: #3486e4;
    border: 2px solid #0b126f;
    border-radius: 10px;
    display: inline-block;
    box-shadow: 4px 4px 10px rgba(20, 28, 144, 0.4);
    transition: transform 0.3s ease;
}

.botao_teste {
    position: relative;
    top: 250px;
    left: 300px;
}

button {
    margin: 20px;
    color: rgb(4, 22, 75);
    background-color: #378afe;
    height: 40px;
    width: 300px;
    border-radius: 10px ;
    border-color: #0a1f44;
    box-shadow: 4px 4px 10px rgba(20, 28, 144, 0.4);
}

button:hover {
    background-color: #1151bd;
}

input[type="radio"] {
    accent-color: #376dc9;
}

/* parte referente aos resultados do teste */

.resultado {
    width: 800px;
    padding: 20px;
    text-align: justify;
    position: relative;
    top: 100px;
    left: 350px;
    font-size: 20px;
    background-color: #3486e4;
    border: 2px solid #0b126f;
    border-radius: 10px;
    display: inline-block;
    box-shadow: 4px 4px 10px rgba(20, 28, 144, 0.4);
    transition: transform 0.3s ease;
    font-family: Arial, Helvetica, sans-serif;
}

/* parte das referências das imagens: */

#fermat_legenda {
    position: relative;
    left: 120px;
    top: 245px;
}

.logo {
    border-radius: 250px;
    height: 50px;
    position: relative;
    top: -208px;
    left: 20px;
}

#logo1 {
    margin: 18px;
}