<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/menu.css">
    <link rel="stylesheet" href="/static/css/pagina1.css">
    <title>A conjectura de Goldbach</title>
</head>
<body>
    <ul id="menu">
        <li><a href="/">Página Inicial </a></li>
        <li> <a href="/goldbach">A conjectura de Goldbach</a></li>
        <li><a href="/reimann">A hipótese de Riemann</a></li>
        <li><a href="/twinprimes">A conjectura de Twin Primes</a></li>
        <li><a href="/primos">Os números primos</a></li>
        <li><a href="/teste">Teste de conhecimentos</a></li>
    </ul>
    <div class="titulo">
        <h1>A CONJECTURA DE GOLDBACH</h1>
    </div>
    <!-- <img src="/static/img/matematica2.png" alt="" class="logo" id="logo1"> -->
    <p class="p1">
        Em uma definição matemática uma conjectura é uma proposição que muitos matemáticos acreditam ser verdadeira, com base em presunções, evidências, pressentimentos, hipóteses, porém ainda não conseguiram prová-la, é o primeiro caminho para a formação dos teoremas, por exemplo, o teorema de Pitágoras que diz que a soma dos quadrados dos catetos é igual ao quadrado da hipotenusa um dia foi conjectura até que fossse possível realizar uma demonstração rigorosa e geral a cerca da afirmação.
    </p>
    <img src="/static/img/conjectura.jpg" alt="" class="imgp1" id="conjectura">
    <br>
    <p class="p2">
        Atualmente, na matemática temos uma série de conjecturas que são alvos de estudos de muitos matemáticos que ansieam demonstrá-las, aqui vamos dar destaque à conjectura de goldbach. A famosa conjectura é um dos problemas mais antigos não resolvidos da matemática. Foi proposta no dia 7 de junho de 1742 pelo matemático prussiano Christian Goldbach, em uma carta escrita para Leonhard Euler. Els afirma que <b>"TODO NÚMERO PAR MAIOR QUE DOIS PODE SER REPRESENTADO COMO A SOMA DE DOIS NÚMEROS PRIMOS"</b>
    </p>
    <img src="/static/img/cartagoldbach.jpg" alt="" class="imgp2">
    <p id="legenda_carta">Carta de Goldbach enviada para Euler</p>
    <img src="/static/img/goldbach2.jpeg" alt="" class="imgp21">
    <p id="legenda_goldbach2">Christian Goldbach (1690 - 1764)</p>
    <br>
    <div class="tabela1">
        <table>
            <tr>
                <th colspan="4">EXEMPLIFICAÇÃO DA CONJECTURA DE GOLDBACH</th>
            </tr>
            <tr>
                <td>4</td>
                <td colspan="3">2 + 3</td>
            </tr>
            <tr>
                <td>6</td>
                <td colspan="3">3 + 3</td>
            </tr>
            <tr>
                <td>8</td>
                <td colspan="3">5 + 3</td>
            </tr>
            <tr>
                <td>10</td>
                <td colspan="3">5 + 5</td>
            </tr>
            <tr>
                <td>12</td>
                <td colspan="3">7 + 5</td>
            </tr>
            <tr>
                <td>14</td>
                <td colspan="3">7 + 7</td>
            </tr>
            <tr>
                <td>16</td>
                <td colspan="3">11 + 5</td>
            </tr>
        </table>
    </div>
    <p class="p3">Esta proposição parece muito simples, certo? Mas o fato é que até hoje ninguém conseguiu demonstrá-la! Diversas verificações por computador já confirmaram a conjectura de Goldbach para muitos e muitossss números. No entanto, a demonstração matemática geral nunca ocorreu e segue sendo um grandioso problema. Em 1995, o matemático francês Olivier Ramaré chegou ao resultado mais próximo apresentado até agora, provando que todo número par é a soma de, no máximo, seis números primos.</p>
    <img src="/static/img/terminal.png" alt="" class="imgp3" id="terminal">
    <p class="p4g">Existe uma variação chamada conjectura "fraca" de Goldbach, que diz o seguinte: <B>Todos os números ímpares maiores que 7 são a soma de três primos ímpares.</B> Ela recebe o nome de "fraca" porque a original (conhecida como conjectura "forte" de Goldbach), se demostrada, demonstraria automaticamente a conjectura fraca de Goldbach. Enquanto a conjectura fraca de Goldbach não prova a forte, a conjectura fraca foi provada em 2013 pelo matemático peruano Harald Helfgott, a demonstração tem 133 páginas, a conjectura mais forte permanece sem solução.</p>
    <img src="/static/img/harald.jpg" alt="" class="imgharald">
    <p id="legenda_harald">Harald Helfgott (1977 - Presente)</p>
    <br>
    <div class="tabela2">
        <table>
            <tr>
                <th colspan="4">EXEMPLIFICAÇÃO DA CONJECTURA FRACA DE GOLDBACH</th>
            </tr>
            <tr>
                <td>9</td>
                <td colspan="3">3 + 3 + 3</td>
            </tr>
            <tr>
                <td>11</td>
                <td colspan="3">3 + 3 + 5</td>
            </tr>
            <tr>
                <td>13</td>
                <td colspan="3">5 + 3 + 5</td>
            </tr>
            <tr>
                <td>15</td>
                <td colspan="3">5 + 5 + 5</td>
            </tr>
            <tr>
                <td>17</td>
                <td colspan="3">7 + 3 + 7</td>
            </tr>
            <tr>
                <td>19</td>
                <td colspan="3">7 + 7 + 5</td>
            </tr>
            <tr>
                <td>21</td>
                <td colspan="3">5 + 5 + 11</td>
            </tr>
        </table>
    </div>
    <br>
    <p class="p5g">Mesmo com muitos avanços na teoria dos números e com a verificação da Conjectura de Goldbach para números pares muito grandes usando computadores, até hoje ninguém conseguiu provar de forma geral que ela é verdadeira para todos os casos. Isso mostra o quanto esse problema é difícil e desafiador. Por mais que pareça simples de entender, a solução continua fora do alcance. Além disso, não dá pra descartar a chance de que essa demonstração nunca apareça — principalmente por causa do Teorema da Incompletude de Gödel, que mostra que algumas verdades podem simplesmente não ter uma prova dentro dos sistemas matemáticos que usamos. Por isso, é possível que a Conjectura de Goldbach seja uma dessas verdades que nunca conseguiremos provar de fato.</p>

    <video controls class="video_goldbach">
        <source src="/static/img/video_goldbach_conjectura.mp4" type="video/mp4">
    </video>
</body>
</html>