<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Os números primos</title>
    <link rel="stylesheet" href="/static/css/menu.css">
    <link rel="stylesheet" href="/static/css/pagina1.css">
</head>
<body>
    <ul id="menu">
        <li><a href="/">Página Inicial </a></li>
        <li> <a href="/goldbach">A conjectura de Goldbach</a></li>
        <li><a href="/reimann">A hipótese de Riemann</a></li>
        <li><a href="/twinprimes">A conjectura de Twin Primes</a></li>
        <li><a href="/primos">Os números primos</a></li>
        <li><a href="/teste">Teste de conhecimentos</a></li>
    </ul>
    <div class="titulo">
        <h1>OS NÚMEROS PRIMOS</h1>
    </div>
    <p class="p1" id="p1p">
    Os números primos são elementos fundamentais da matemática, especialmente da teoria dos números. Eles são definidos como os números naturais maiores que 1 que possuem exatamente dois divisores: 1 e eles mesmos. Isso significa que não podem ser obtidos por multiplicação de outros números naturais menores, o que os torna os “blocos de construção” dos números, já que qualquer número inteiro positivo pode ser decomposto em um produto de primos, uma propriedade conhecida como Teorema Fundamental da Aritmética.
    </p>

    <img src="/static/img/primos.webp" alt="" class="imgp1" id="primos1">
    
    <p class="p2">
    A infinitude dos números primos foi provada ainda na Antiguidade por Euclides, por volta do século III a.C. Sua demonstração é um clássico exemplo de prova por redução ao absurdo. Suponha-se que haja uma quantidade finita de primos, e que todos eles sejam conhecidos. Multiplicando esses primos entre si e somando 1 ao resultado, obtém-se um número que não é divisível por nenhum dos primos da lista original, pois sempre restará 1 na divisão. Por exemplo, se assumíssemos que os únicos primos fossem 2, 3 e 5, seu produto seria 30, e 30 + 1 = 31, que é um número primo não presente na lista inicial contradizendo a suposição. Isso implica que ou esse novo número é primo ou possui fatores primos que não estavam na lista inicial. Assim, conclui-se que a quantidade de números primos é infinita.
    </p>

    <img src="/static/img/euclides.jpeg" alt="" class="img2" id="euclides">

    <p class="p3" id="p3p">
    Apesar dessa certeza quanto à sua infinitude, a distribuição dos primos na reta numérica parece seguir um padrão caótico. À primeira vista, não há uma regularidade clara sobre onde os primos irão aparecer, o que tem levado matemáticos a formular diversas conjecturas e teorias para tentar entender esse comportamento, como a Hipótese de Riemann, a Conjectura dos Primos Gêmeos e a famosa Conjectura de Goldbach. Nenhuma dessas conjecturas foi provada até hoje, o que mostra como os primos ainda guardam muitos mistérios. Essa aparente aleatoriedade torna os primos fascinantes e desafiadores, sendo alvo de intensas pesquisas tanto por sua relevância teórica quanto por aplicações práticas, como na criptografia moderna.
    </p>

    <img src="/static/img/reta_numerica.webp" alt="" class="img3" id="reta">

    <p class="p4">
    Os primos de Mersenne são uma classe especial de números primos que têm a forma 𝑀𝑝=2**p−1, onde 𝑝 também é um número primo. Esses primos recebem esse nome em homenagem ao monge francês Marin Mersenne, que estudou suas propriedades no século XVII. Os primos de Mersenne são particularmente interessantes porque estão relacionados aos números perfeitos, aqueles que são iguais à soma de seus divisores próprios e são utilizados em diversas áreas da matemática e da computação, especialmente na busca por grandes números primos, já que a estrutura dessa forma facilita certos tipos de testes de primalidade. Até hoje, alguns dos maiores números primos descobertos são primos de Mersenne, tornando-os um foco constante de pesquisa e exploração matemática. Em 2017, foi descoberto o 51º primo de Mersenne o número é  2 ** 82.589.933-1, atualmente o maior número primo conhecido.
    </p>

    <img src="/static/img/mercenne1.jpeg" alt="" class="imgp41" id="m1">
    <img src="/static/img/mersenne2.jpeg" alt="" class="imgp42" id="m2">

    <p class="p5">
    Os números primos recebem esse nome por serem considerados os “primeiros” ou “primitivos” na formação de todos os outros números naturais. A palavra "primo" vem do latim <i>primus,</i> que significa "primeiro". Isso se deve ao fato de que eles não podem ser divididos de forma exata por nenhum outro número além de 1 e deles mesmos, funcionando como os blocos fundamentais da aritmética, sendo a base de formação para os números compostos, que por derivarem do produto de números primos podemos também decompó-los em fatores primos. Assim como os átomos são as unidades básicas da matéria, os números primos são as unidades básicas da multiplicação, já que qualquer número inteiro positivo maior que 1 pode ser decomposto como um produto de números primos, o que é conhecido como Teorema Fundamental da Aritmética.
    </p>

    <img src="/static/img/fatoracao.png" alt="" class="imgp51" id="fatoracao">

    <p class="p6" id="p6c">
    Vale ressaltar, a curiosa característica dos números primos: à medida que o intervalo numérico cresce, a frequência desses números diminui, tornando-os cada vez mais raros. Essa propriedade singular explica sua imensa importância na área de segurança da informação, onde seu uso em criptografia aplicada é amplamente difundido. todo esse distanciamento que ocorre entre um número primo e outro à medida que o intervalo numérico cresce dificulta e torna parecer não haver um padrão no que diz respeito à distribuição dos números primos
    </p>

    <img src="/static/img/criptografia2.jpeg" alt="" class="imgp6" id="criptografia">
</body>
</html>