<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/menu.css">
    <link rel="stylesheet" href="/static/css/pagina1.css">
    <title>A conjectura de Twin Primes</title>
</head>
<body>
    <ul id="menu">
        <li><a href="/">Página Inicial </a></li>
        <li> <a href="/goldbach">A conjectura de Goldbach</a></li>
        <li><a href="/reimann">A hipótese de Riemann</a></li>
        <li><a href="/twinprimes">A conjectura de Twin Primes</a></li>
        <li><a href="/primos">Os números primos</a></li>
        <li><a href="/teste">Teste de conhecimentos</a></li>
    </ul>
    <div class="titulo">
        <h1>A CONJECTURA DOS PRIMOS GÊMEOS</h1>
    </div>
    <!-- <img src="/static/img/matematica2.png" alt="" class="logo" id="logo1"> -->
    <p class="p1">
        A conjectura dos primos gêmeos, na teoria dos números, afirma que existem infinitamente muitos primos gêmeos (pares de primos que diferem por 2.) Por exemplo, 3 e 5, 5 e 7, 11 e 13, e 17 e 19 são primos gêmeos, pois a diferença entre eles é de apenas duas unidades, em outras palavras podemos também dizer que eles têm apenas um número natural no intervalo entre eles, considerando os exemplos anteriores: 3 e 5 são primos gêmeos e têm apenas o 4 no intervalo entre eles, assim como o 7 e 5 têm apenas o 6 nesse intervalo e assim segue para todos os demia. À medida que os números aumentam, os primos se tornam menos frequentes e os primos gêmeos ainda mais raros.
    </p>

    <img src="/static/img/primosgemeos1.jpeg" alt="" class="imgp1">
    <p class="p2">
        A ideia de que há infinitos pares de primos separados por 2 surgiu no século XIX. Os matemáticos franceses Alphonse de Polignac e Adrien-Marie Legendre foram alguns dos primeiros a sugerir isso, mas quem realmente popularizou a versão moderna da conjectura foi o matemático norueguês Viggo Brun, no início do século XX. Embora não tenha conseguido provar a conjectura, Brun desenvolveu um método inovador conhecido como peneira de Brun, uma técnica que ajuda a filtrar números com determinadas propriedades como candidatos a primos gêmeos eliminando os que não servem, de forma parecida com uma peneira de cozinha. Essa abordagem permitiu a ele provar que a soma dos inversos dos primos gêmeos é finita, um resultado surpreendente que mostrou que, mesmo que existam infinitos pares, eles são mais raros do que os primos comuns.
    </p>

    <img src="/static/img/viggo.jpeg" alt="" class="imgp2" id="viggo">

    <p class="p3" id="p3pg">Durante décadas, os matemáticos tentaram provar a conjectura, sem sucesso. Em 2013, o chinês Yitang Zhang chocou o mundo ao provar que existem infinitos pares de primos com distância no máximo 70 milhões. Foi um avanço gigantesco, pois nunca antes alguém tinha conseguido mostrar que pares de primos com alguma distância finita continuavam existindo no infinito. Após isso, uma colaboração mundial chamada Polymath Project reduziu essa distância para menos de 250. 
    </p>

    <img src="/static/img/yitang.jpeg" alt="" class="imgp3" id="yitang">
    <img src="/static/img/project.png" alt="" class="imgp3" id="project">

    <p class="p4">
        Apesar dos enormes avanços, a diferença 2 ainda não foi alcançada, então a Conjectura dos Primos Gêmeos permanece sem prova formal. Mesmo assim, os matemáticos acreditam fortemente que ela é verdadeira. Milhões de pares já foram encontrados por computadores, e os padrões sugerem que esses pares continuam existindo, por mais longe que a gente vá. A busca pela prova exata continua — e qualquer um que conseguir demonstrar isso vai fazer história na matemática.
    </p>

    <img src="/static/img/exemplo_primos_gêmeos.jpg" alt="" class="imgp41" id="pg">
</body>
</html>